/*
LAYOUT: Three-Column (Left)
DESCRIPTION: Three-column fluid layout with two sidebars left of content
*/
@media only screen and ( min-width: 900px ){

	body{
		font-size: 1em;
	}

	section#container {
		float:left;
		width:100%;
	}

	section#container > section#content {
		margin:0 270px 0 200px;
		padding: 0 2em;
	}

	aside.sidebar {
		float:left;
		overflow:hidden;
	}

	aside#secondary {
		margin:0 0 0 -100%;
		width:180px;
	}

	* html aside#primary {
		left:20px;
		position:relative;
	}

	aside#primary {
		margin:0 0 0 -250px;
		width: 250px;
	}

}

@media only screen and ( max-width: 900px ) {

	body {
		font-size:.8em;
	}

}

footer#footer {
	clear:both;
}	