/*
LAYOUT: Three-Column (Left)
DESCRIPTION: Three-column fluid layout with two sidebars left of content
*/
@media only screen and ( min-width: 900px ){

	body{
		font-size:1em;
	}

	section#container {
		float:right;
		margin:0 0 0 -470px;
		width:100%;
	}

	section#container > section#content {
		margin:0 0 0 470px;
	}

	aside.sidebar {
		float:left;
		overflow:hidden;
		padding:0 20px 0 0;
	}

	aside#primary {
		width:250px;
	}

	aside#secondary {
		width:180px;
	}

}

@media only screen and ( max-width: 900px ){
	body{
		font-size:.8em;
	}
}

footer#footer {
	clear:both;
}	