/*
LAYOUT: Two-Column (Left)
DESCRIPTION: Two-column fluid layout with one sidebar left of content
*/

@media only screen and ( min-width: 900px ){

	body{
		font-size: 1em;
	}

	section#container {
		float:right;
		margin:0 0 0 -270px;
		width:100%;
	}

	section#container > section#content {
		margin:0 0 0 270px;
	}

	aside.sidebar {
		float:left;
		overflow:hidden;
		width:250px;
	}

}

@media only screen and ( max-width: 900px ){

	body{
		font-size:.8em;
	}

}

footer#footer {
	clear:both;
}