@import 'nib'

/*!
Sandbox shortcodes CSS
*/

.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.one_sixth
	float left
	margin-right 4%
	min-height 1px
	height 100% !important
	height 1px
	position relative

.one_half
	width 48%

.one_third
	width 30.6666%

.two_third
	width 65.3333%

.one_fourth
	width 22%

.three_fourth
	width 74%

.one_fifth
	width 16.8% 

.one_sixth
	width 13.3333%

.last
	clear right
	margin-right 0 !important

.clearfix
	clearfix()

div.box
	border-radius 5px
	border 1px solid #DADADA

	div.box-header
		background linear-gradient(top, #FFF, #F1F1F1)
		border-bottom 1px solid #DADADA
		border-radius top 5px
		font-size 1.2em

	&.with-header
		div.box-header
			padding .5em 30px

		div.box-content
			border-radius bottom 5px
			padding .5em 30px

		&.padding-small
			div.box-header,
			div.box-content
				padding .5em 20px

	&.no-header
		div.box-content
			border-radius 5px
			padding 2em

	&.with-bg
		background #F7F7F7