@import 'nib'

/*!
Sandbox shortcodes CSS
*/

.one_half,
.one_third,
.one_fourth
	float left
	margin-right 4%
	min-height 1px
	height 100% !important
	height 1px
	position relative

.one_half
	width 48%

.one_third
	width 30.6666%

.one_fourth
	width 22%

.last
	clear right
	margin-right 0 !important

.clearfix
	clearfix() 