/*
LAYOUT: Two-Column (Right)
DESCRIPTION: Two-column fluid layout with one sidebars right of content
*/
section#container {
float:left;
margin:0 -200px 0 0;
width:100%;
}

section#content {
margin:0 200px 0 0;
}

aside.sidebar {
float:right;
overflow:hidden;
width:180px;
}

aside#secondary {
clear:right;
}

footer#footer {
clear:both;
width:100%;
}