/*
LAYOUT: Three-Column
DESCRIPTION: Three-column fluid layout with two sidebars on both sides of content
*/
section#container {
float:left;
width:100%;
}

section#content {
margin:0 200px;
}

aside.sidebar {
float:left;
overflow:hidden;
width:180px;
}

aside#primary {
margin:0 0 0 -100%;
}

* html aside#primary {
left:20px;
position:relative;
}

aside#secondary {
margin:0 0 0 -180px;
}

footer#footer {
clear:left;
width:100%;
}